<nav class='nav-wrapper'>
  <div class='container'>
    <a href='/' class='brand-logo'>
      &#128209;ProjectNote
    </a>
    <ul class='right hide-on-med-and-down'>
      <li>
        <a href='#'>
          Inicio
        </a>
      </li>
      <li>
        <a href='/about'>
          Acerca de.
        </a>
      </li>
    </ul>
  </div>
</nav>