{
  "presets": [
    "minify",
    [
      "@babel/preset-env", {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@server": "./server",
          "@s-rutas": "./server/routes",
          "@s-config": "./server/config"
        }
      }
    ]
  ]
}