<br />
<br />
<div
  class="row center light-blue lighten-4"
  style="padding: 2em; border-radius: 1em;"
>
  <h1 class="header center teal-text">
    Bienvenido a Project Notes
  </h1>
  <div class="row center">
    <h5 class="header col s12 light grey-text text-darken-3">
        Una Aplicacion que te permitira registrar ideas de proyectos que se te vayan ocurriendo
    </h5>
  </div>
  <div class="row center">
      <a href="#" class="btn-large waves-offect waves-light teal">Registra una Idea</a>
  </div>
</div>