<html>
  <head>
    <title>
      {{appname}}
    </title>
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <!--Estilos del bundlle de web pack-->
    <link rel="stylesheet" href="/styles/app.css" />
  </head>
  <body>
    {{!-- VISTA PARCIAL DE LA BARRA DE NAVEGACION--}}
    {{>_navbar}}
    <div class="container">
      {{{body}}}
    </div>
    <!-- Compiled and minified JavaScript -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
    ></script>
    <!--Estilos del bundlle de web pack-->
    <script src="/js/bundle.js"></script>
  </body>
</html> 